.tag > li {
  background-color: rgba(228, 222, 222, 0.769);
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.videoDesc {
  color: gray;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.suggestionItem {
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  position: fixed;
  background-color: white;
  left: 29.8rem;
  top: 3rem;
  width: 26.5rem;
  padding: 20px;
  z-index: 2000;
}
